
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_myschlayout.cshtml";
}


<!--END HEADER SECTION-->
<!--SECTION START-->
<section>
    <div class="container com-sp pad-bot-70">
        <div class="row">
            <div class="cor about-sp">
                <div class="ed-about-tit">
                    <div class="con-title">
                        <h2>Contact <span> Us</span></h2>
                        <p>Fusce id sem at ligula laoreet hendrerit venenatis sed purus.
                        Ut pellentesque maximus lacus, nec pharetra augue.</p>
                    </div>
                </div>
                <div class="pg-contact">
                    <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con1">
                        <h2>HMS<span> college</span></h2>
                        <p>We Provide Outsourced Software Development
                        Services To Over 50 Clients From 21 Countries.</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con1">
                        <img src="~/Content/asset/img/contact/1.html" />
                        <h2>Address</h2>
                        <p>
                            12AG Federal Low Cost Housing Estate Ikorodu.
                            <br> Lagos State.
                        </p>

                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con3">
                        <img src="img/contact/2.html" alt="">
                        <img src="~/Content/asset/img/contact/2.html" />
                        <h2>CONTACT INFO:</h2>
                        <p>
                            <a href="tel://0099999999" class="contact-icon">Phone: 01 234874 965478</a>
                            <br> <a href="tel://0099999999" class="contact-icon">Mobile: +234 806 699 5995</a>
                            <br> <a href="mailto:mytestmail@gmail.com" class="contact-icon">Email: info@Homemade.com</a>
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con4">
                        <img src="~/Content/asset/img/contact/3.html" />
                        <h2>Website</h2>
                        <p>
                            <a href="#">Website: www.mycompany.com</a>
                            <br> <a href="#">Facebook: www.facebook/my</a>
                            <br> <a href="#">Blog: www.blog.mycompany.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--SECTION END-->

<section id="map">
    <div class="row  ">
        <br>
        <!-- IFRAME: GET YOUR LOCATION FROM GOOGLE MAP -->

        <div class="carousel-inner">
            <div class="item slider1 active">
                <img src="~/Content/asset/images/slider/5.jpg" />
                <div class="carousel-caption slider-con">

                </div>
            </div>
        </div>
        <div class="container ">
            <div class="overlay-contact footer-part footer-part-form">
                <div class="map-head">
                    <p>Send Us Now</p>
                    <h2>GetIn Touch</h2> <span class="footer-ser-re">Service Request Form</span>
                </div>
                <!-- ENQUIRY FORM -->
                <form id="contact_form" name="contact_form" >
                    <ul>
                        <li class="col-md-6 col-sm-6 col-xs-12 contact-input-spac">
                            <input type="text" id="f1" value="" name="f1" placeholder="Name" required="">
                        </li>
                        <li class="col-md-6 col-sm-6 col-xs-12 contact-input-spac">
                            <input type="text" id="f2" value="" name="f2" placeholder="Phone" required="">
                        </li>
                        <li class="col-md-6 col-sm-6 col-xs-12 contact-input-spac">
                            <input type="email" id="f3" value="" name="f3" placeholder="Email" required="">
                        </li>
                        <li class="col-md-6 col-sm-6 col-xs-12 contact-input-spac">
                            <input type="text" id="f4" value="" name="f4" placeholder="State" required="">
                        </li>
                        <li class="col-md-12 col-sm-12 col-xs-12 contact-input-spac">
                            <textarea id="f5" name="f5" required=""></textarea>
                        </li>
                        <li class="col-md-6">
                            <input type="submit" value="SUBMIT">
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</section>


